{{#link-to 'game' game.id}}
<div class="col-md-6">
  <div class="game-tile-box">
    <img src={{game.image}}>
    <br>
    <h5>{{game.title}}</h5>
    <h5>by {{game.developer}}</h5>
  </div>
</div>
{{/link-to}}
