<h2 id="title">AC's Game Reviews - HEADER HERE</h2>
{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'favorites'}}<b class="glyphicon glyphicon-heart"></b> My Favorites{{/link-to}}

<div class="container">
  {{outlet}}
</div>
